---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 | Zirkinik bez!">
		<main class="flex h-full flex-col font-sans my-auto items-center justify-center gap-4">
			<img src="/logo-lerro.svg" class="<sm:w-full sm:w-100 lg:w-200 pr-4" alt="Zirkinik bez logoa">
		<h1 class="text-4xl text-neutral-200">
			404 - Hemen ez dago ezer
		</h1>
		<a href="/" class="mt-16 border p-4 flex gap-2 items-center text-xl uppercase"><div class="i-carbon-arrow-left"/>Egin atzera</a>
	</main>
</Layout>


