---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Topbar from '../components/Topbar.vue';
import CtaButton from '../components/CtaButton.vue';
import Hero from '../components/Hero.vue';
import Concerts from '../components/Concerts.vue';
import Contact from '../components/Contact.vue';
import Bg from '../components/Bg.vue';
---

<Layout title="Zirkinik bez!">
		<main class="flex flex-col font-sans">
		<Hero />
		<Concerts />
		<Contact />
	</main>
</Layout>
