---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Topbar from '../components/Topbar.vue';
import CtaButton from '../components/CtaButton.vue';
import Section1 from '../components/Section1.vue';
import Section2 from '../components/Section2.vue';
import Contact from '../components/Contact.vue';
import Bg from '../components/Bg.vue';
---

<Layout title="Zirkinik bez!">
		<Topbar client:visible />
		<main class="p-4 flex flex-col">
		<Section1 />
		<Section2 />
		<!-- <Contact /> -->
	</main>
		<!-- <Bg /> -->
</Layout>

<style>
html {
	color: #fff;
	background-image: url('/bg-2.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-blend-mode: hard-light;
	background-color: #000;
	display: flex;
	flex-direction: column;
}
</style>
