---
import { ViewTransitions } from 'astro:transitions';
import Topbar from '../components/Topbar.vue'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="description" content="Zirkinik bez! Euskal erromeria taldea" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/zb-website/favicon.svg" />
		<link rel="preload" fetchpriority="high" as="image" href="/zb-website/header.webp" type="image/webp">
		<link rel="preload" fetchpriority="high" as="image" href="/zb-website/header2.webp" type="image/webp">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="">
		<Topbar client:only />
		<slot />
	</body>
</html>

<style is:global>

html {
	font-family: 'Poppins';
	font-weight: 400;
	height: 100dvh;
	color: #fff;
	background-color: #fff;
}

body {
	height: 100dvh;
}

/* For Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
    width: 8px ; /* width of the scrollbar */
	height: 2px;
}

::-webkit-scrollbar-track {
    background-color: transparent; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the thumb */
    border-radius: 14px; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* color of the thumb on hover */
}


/* For Firefox */
body {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}

body:hover {
    scrollbar-color: #555 #f1f1f1;
}



</style>
